<html>
    <!--/Product Details page-->
    <head>
        <title>Smart Boss</title>
        <%- include('./head.ejs') %>
    </head>
    <!--/body-->
    <body>
        <!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->
        <main>
            <h3>Skills</h3>
            <% if(skills.length < 1) { %>
            <span>No skills added pleae add some</span>
            <% } else { %> <% skills.forEach(function(skill) {%>
            <a href="<%= employee/profile/groupName/skill %>"><%= skill.name %></a>
            <a href="some remove">Remove</a>
            <a href="some update">Update</a>
            <% }); %> <% } %>
            <h3>Create A skill</h3>
            <form action="/employee/addJob" method="post">
                <label for="addSkill">
                    <span>Skill Name:</span>
                    <input type="text" id="skillName" name="skillName" />
                    <button>Add Skill</button>
                </label>
            </form>
        </main>
        <footer id="footer"></footer>
    </body>
</html>
