<html>
    <!--/Product Details page-->
    <head>
        <title>Smart Boss</title>
        <%- include('./head.ejs') %>
    </head>
    <!--/body-->
    <body>
        <!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->

        <main>
            <h3>Hours</h3>
            <% const dayAvail = ["monAvail","tueAvail", "wedAvail","thAvail", "friAvail","satAvail","sunAvail"]; %>
            <ol>
                <form action="" method="">
                <% for(var i = 0; i < 7; i++) {%>
                    <li>
                        <label for="<% dayAvail[i] %>Start ">
                            <span>Monday:</span>
                            <select id="<%dayAvail[i]%>HoursStart" name="<%dayAvail[i]%>HoursStart">
                                <option value="0">12</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8:</option>
                                <option value="9">9:</option>
                                <option value="10">10</option>
                                <option value="11">11:</option>
                            </select>
                            <span>:</span>
                            <select id="<%dayAvail[i]%>MinutesStart" name="<%dayAvail[i]%>MinutesStart">
                                <option value=".00">00</option>
                                <option value=".15">15</option>
                                <option value=".30">30</option>
                                <option value=".45">45</option>
                            </select>
                            <select id="<%dayAvail[i]%>HalfStart" name="<%dayAvail[i]%>HalfStart">
                                <option value="0">AM</option>
                                <option value="1">PM</option>
                            </select>
                            <h3> TO </h3>
                            <label for="<%dayAvail[i]%>End">
                            <select id="<%dayAvail[i]%>HoursEnd" name="<%dayAvail[i]%>HoursEnd">
                                <option value="0">12</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8:</option>
                                <option value="9">9:</option>
                                <option value="10">10</option>
                                <option value="11">11:</option>
                            </select>
                            <span>:</span>
                            <select id="<%dayAvail[i]%>MinutesEnd" name="<%dayAvail[i]%>MinutesEnd">
                                <option value=".00">00</option>
                                <option value=".15">15</option>
                                <option value=".30">30</option>
                                <option value=".45">45</option>
                            </select>
                            <select id="<%dayAvail[i]%>HalfEnd" name="<%dayAvail[i]%>HalfEnd">
                                <option value="0">AM</option>
                                <option value="1">PM</option>
                            </select>
                        </label>
                    </li>
                    <% } %>
                   <button>Update Availability</button> 
                </form>
            </ol>
        </main>
        <footer id="footer"></footer>
    </body>
</html>
