<html>
    <!--/Product Details page-->
    <head>
        <title>Smart Boss</title>
        <%- include('./head.ejs') %>
    </head>
    <!--/body-->
    <body>
        <!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->

        <main>
            <h3>Hours</h3>
            <% if(employees.length < 1) { %>
            <span
                >No employees have joined this group give them the job code and have them sign
                up</span
            >
            <% } else { %> <% employees.forEach(function(employee) {%>
            <a href="/employer/profile/groupName/employee"><%= employee.name %></a>
            <a href="some remove">Remove</a>
            <% }); %> <% } %>
        </main>
        <footer id="footer"></footer>
    </body>
</html>
