<html>
    <!--/Product Details page-->
    <head>
        <title>Smart Boss</title>
        <%- include('./head.ejs') %>
    </head>
    <!--/body-->
    <body>
        <!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->
        <main>
            <h3>Skills</h3>
            <% if(skills.length < 1) { %>
            <span>No skills created talk to manager to add skills</span>
            <% } else { %> <% skills.forEach(function(skill) {%>
            <a href="employee/group"><%= skill.name %></a>
            <a href="some update">Add</a>
            <a href="some remove">Remove</a>
            <% }); %> <% } %>
        </main>
        <footer id="footer"></footer>
    </body>
</html>
