<html>

<head>
    <title>Home page</title>

 <% include ./includes/head.ejs %>
</head>

<body>
<!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->   
    <% include ./includes/nav.ejs %>

	  <div id="contact-page" class="container">
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-12">    			   			 			    				    				
						</div>			 		
			</div>    	
    		<div class="row">  	
	    		<div class="col-sm-8">
	    			<div class="contact-form">
                        <h2 class="title text-center">About US</h2>
                        <h3 class="title text-center">Our Mission</h3>
                        <p class="title text-center"> Our Mission is schedule people automatically.</p>
	    			</div>
                    <div class="product-information"><!--/about-us-information-->
                    <h2>Know More About US</h2>
                        <p> Hey Everyone! This is a smart Boss web app for helping the employer to schedule automatically .</p>
                </div><!--/about-us-information-->
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Contact Info</h2>
                        <address>
                            <p><strong>Fusion Outfits, Clothing Warehouse </strong></p>
                            <p><b>Address:</b> 128 Northbend Drive Charlotte  NC 28262</p>
                            <p><b>Mobile:</b> 888-888-8888</p>
                            <p><b>Fax:</b> 888-888-88888</p>
                            <p><b>Email:</b> Bikram.S.Oberoi@gmail.com; Outfitsfusion@gmail.com </p>
                        </address>	
	    			</div>
    			</div>    			
	    	</div>  
    	</div>	
    </div>
        <footer id="footer">
        <!--Footer-->

        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="about.html">Online Help</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="cart.html">Order Status</a></li>
                                <li><a href="#">Change Location</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/Footer-->
    
</body>

</html>
