<html>

<head>
    <title>Home page</title>

 <%- include('includes/head.ejs') %>
</head>

<body>
<!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->   
    <%- include('includes/nav.ejs') %>

	  <div id="contact-page" class="container">
  	
 	
	    		<div class="a">
                    <img src="../resources/1.jpg" alt="SmartBoss" height="200" width="200">
                        <h2 class="title text-center">About US</h2>
                        <p class="title text-center"> About us
                            SmartBoss was Founded in January 2020 and is based in North Carolina. Smartboss is an app that helps other company’s make their life easy by taking away the stress of schedule and allowing are Smartboss app to do it for you. We are an organization that has developed an app that will change the way scheduling is made forever.</p>
                        
                            <h3 class="title text-center">Our Mission</h3>
                        <p class="title text-center"> Out mission is to help fix the way scheduling is made for Small business and volunteer work. We want to change the way scheduling works by making it to where the employee can pick their own time and days. Making it less stressful for the employer. We make it are goal to help gather a working schedule from the employee without you having to decide their days. This will give them time in their life so they can do personal needs. This doesn’t just help out the employer but the Employee.</p>
	    			</div>
                    <div class="product-information"><!--/about-us-information-->
                    <h3 class="title text-center">Know More About US</h3>

                    <p class="title text-center"> Hey Everyone! This is a smart Boss web app for helping the employer to schedule automatically.</p>
                </div><!--/about-us-information-->
	    		</div>
        <footer id="footer">
        <!--Footer-->
    </footer>
    <!--/Footer-->
    
</body>

</html>
