<html>

<head>
    <title>Help page</title>
    <% include ./includes/head.ejs %>
</head>

<body>
<!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->   
    <% include ./includes/nav.ejs %>

	  <div id="contact-page" class="container">
    	<p>
            If you want a summary about what this website is about, click on the home tab. The home page will allow you to either sign up or sign in. If you want to know more about this website and its creaters, click on the "About Us" tab. 
        </p>  
    	</div>	
    </div>
    <script src="jquery.js"></script>
    <script src="../resources/bootstrap.min.js"></script>
</body>

</html>
