<html>
<!--/Product Details page-->  
<head>
    <title>Smart Boss</title> 
    <%- include('includes/head.ejs') %>
       

</head>
<!--/body-->    
<body>
<!--/navigation-bars to know more about the company, contact details, cart of the user and the product details of the selected product-->   
    <%- include('includes/nav.ejs') %>    

    <main>
        <div class="form-group">
            <legend>Sign Up</legend>
            <form action='/signup' method='post'>
                    <input type="text" class='form-control' id="name" name="name" placeholder='Fulle Name' required></br>
                    <input type="email" class='form-control' id="email" name="email" placeholder='Email' required></br>
                    <input type="text" class='form-control' id="uname" name="uname" placeholder='UserName' required></br>
                    <input type="password" class='form-control' id="pass" name="pass" placeholder='Password' required></br>
                    <input type="password" class='form-control' id="rtpass" name="rtpass" placeholder='Repeat Password'required></br>
                    <div class="radio mb-3">
                        <label class="radio-inline">
                            <input type='radio' id="employee" name="signupcheck" value="employee" checked> Employee<br>
                        </label>
                        <label class="radio-inline">
                            <input type='radio' id="employer" name="signupcheck" value="employer"> Employer<br>
                        </label>
                        </div>
                    <button class='btn btn-lg btn-primary btn-block' type="submit">Signup</button></br>
            </form>
        </div>
    </main>
    <footer id="footer">
    </footer>
    </body>
</html>
